# Classifying

In [57]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.decomposition import PCA

In [47]:
df=pd.read_csv("NYCdata.csv", index_col=0)

In [48]:
df.head()

,CensusTract,County,Borough,TotalPop,Men,Women,Hispanic,White,Black,Native,...,Walk,OtherTransp,WorkAtHome,Employed,PrivateWork,PublicWork,SelfEmployed,FamilyWork,Unemployment,NoIns18ab
0,36005000200,Bronx,Bronx,5403,2659,2744,75.8,2.3,16.0,0.0,...,2.9,0.0,0.0,2308,80.8,16.2,2.9,0.0,7.7,9.6
1,36005000400,Bronx,Bronx,5915,2896,3019,62.7,3.6,30.7,0.0,...,1.4,0.5,2.1,2675,71.7,25.3,2.5,0.6,9.5,7.5
2,36005001600,Bronx,Bronx,5879,2558,3321,65.1,1.6,32.4,0.0,...,8.6,1.6,1.7,2120,75.0,21.3,3.8,0.0,8.7,9.9
3,36005001900,Bronx,Bronx,2591,1206,1385,55.4,9.0,29.0,0.0,...,3.0,2.4,6.2,1083,76.8,15.5,7.7,0.0,19.2,20.8
4,36005002000,Bronx,Bronx,8516,3301,5215,61.1,1.6,31.1,0.3,...,4.3,1.0,0.0,2508,71.0,21.3,7.7,0.0,17.2,11.1

In [49]:
df.columns

Index(['CensusTract', 'County', 'Borough', 'TotalPop', 'Men', 'Women',
       'Hispanic', 'White', 'Black', 'Native', 'Asian', 'Citizen', 'Income',
       'IncomePerCap', 'Poverty', 'ChildPoverty', 'Professional', 'Service',
       'Office', 'Construction', 'Production', 'Drive', 'Carpool', 'Transit',
       'Walk', 'OtherTransp', 'WorkAtHome', 'Employed', 'PrivateWork',
       'PublicWork', 'SelfEmployed', 'FamilyWork', 'Unemployment',
       'NoIns18ab'],
      dtype='object')

In [63]:
df.dtypes

CensusTract       int64
County           object
Borough          object
TotalPop          int64
Men               int64
Women             int64
Hispanic        float64
White           float64
Black           float64
Native          float64
Asian           float64
Citizen           int64
Income          float64
IncomePerCap    float64
Poverty         float64
ChildPoverty    float64
Professional    float64
Service         float64
Office          float64
Construction    float64
Production      float64
Drive           float64
Carpool         float64
Transit         float64
Walk            float64
OtherTransp     float64
WorkAtHome      float64
Employed          int64
PrivateWork     float64
PublicWork      float64
SelfEmployed    float64
FamilyWork      float64
Unemployment    float64
NoIns18ab       float64
County_code       int64
Borough_code      int64
poverty           int64
dtype: object

In [51]:
df["County"].value_counts()

Kings       750
Queens      650
Bronx       335
New York    281
Richmond    108
Name: County, dtype: int64

In [52]:
from sklearn.preprocessing import LabelEncoder
lb_make = LabelEncoder()
df["County_code"] = lb_make.fit_transform(df["County"])
df[["County", "County_code"]].head(11)

   County  County_code
0   Bronx            0
1   Bronx            0
2   Bronx            0
3   Bronx            0
4   Bronx            0
5   Bronx            0
6   Bronx            0
7   Bronx            0
8   Bronx            0
9   Bronx            0
10  Bronx            0

In [53]:
df["Borough_code"] = lb_make.fit_transform(df["Borough"])
df[["Borough", "Borough_code"]].head(11)

   Borough  Borough_code
0    Bronx             0
1    Bronx             0
2    Bronx             0
3    Bronx             0
4    Bronx             0
5    Bronx             0
6    Bronx             0
7    Bronx             0
8    Bronx             0
9    Bronx             0
10   Bronx             0

In [54]:
df["Borough"].value_counts()

Brooklyn         750
Queens           650
Bronx            335
Manhattan        281
Staten Island    108
Name: Borough, dtype: int64

In [55]:
df["County_code"].value_counts()

1    750
3    650
0    335
2    281
4    108
Name: County_code, dtype: int64

In [58]:
#df["Poverty"]=(df.Poverty)/np.mean(df["Poverty"])
mean=np.mean(df["Poverty"])
l=list()
for i in df["Poverty"]:
    if(i>=mean):
        l.append(0)
    else:
        l.append(1)

In [60]:
df["poverty"]=l

In [62]:
df["poverty"].value_counts()

1    1239
0     885
Name: poverty, dtype: int64

In [10]:
from sklearn.preprocessing import StandardScaler
std_scaler = StandardScaler()
X=df[['CensusTract', 'TotalPop', 'Men', 'Women',
       'Hispanic', 'White', 'Black', 'Native', 'Asian', 'Citizen', 'Income',
       'IncomePerCap', 'ChildPoverty', 'Professional', 'Service',
       'Office', 'Construction', 'Production', 'Drive', 'Carpool', 'Transit',
       'Walk', 'OtherTransp', 'WorkAtHome', 'Employed', 'PrivateWork',
       'PublicWork', 'SelfEmployed', 'FamilyWork', 'Unemployment',
       'NoIns18ab','Borough_code','County_code']]
y=df['poverty']           
std_scaler.fit(X)
scaled_X=std_scaler.transform(X)
final_X=pd.DataFrame(scaled_X,columns=['CensusTract', 'TotalPop', 'Men', 'Women',
       'Hispanic', 'White', 'Black', 'Native', 'Asian', 'Citizen', 'Income',
       'IncomePerCap', 'ChildPoverty', 'Professional', 'Service',
       'Office', 'Construction', 'Production', 'Drive', 'Carpool', 'Transit',
       'Walk', 'OtherTransp', 'WorkAtHome', 'Employed', 'PrivateWork',
       'PublicWork', 'SelfEmployed', 'FamilyWork', 'Unemployment',
       'NoIns18ab','Borough_code','County_code'])

NameError: name 'df' is not defined

In [12]:
data=[]
target=[]
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(X,y, test_size=0.25, random_state=0)

NameError: name 'y' is not defined

In [69]:
# Let's Try Logistic Regression
from sklearn.metrics import classification_report,confusion_matrix
from sklearn.linear_model import LogisticRegression
lgrm=LogisticRegression()
lgrm.fit(x_train,y_train)
preds=lgrm.predict(x_test)
print(classification_report(y_test,preds))

              precision    recall  f1-score   support

           0       0.00      0.00      0.00       223
           1       0.58      1.00      0.73       308

    accuracy                           0.58       531
   macro avg       0.29      0.50      0.37       531
weighted avg       0.34      0.58      0.43       531

/home/arpit/anaconda3/lib/python3.7/site-packages/sklearn/metrics/_classification.py:1272: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

In [74]:
lgrm.score(x_test,y_test)

0.5800376647834274

In [ ]:
from sklearn.svm import SVC
svclassifier = SVC(kernel='linear')
svclassifier.fit(x_train, y_train)

In [ ]:
y_pred = svclassifier.predict(x_train)
print(confusion_matrix(y_test,y_pred))
print(classification_report(y_test,y_pred))

# Inputedata2018

In [21]:
df_t=pd.read_csv("imputedData2018.csv")

In [22]:
df_t=df_t.set_index('id')
df_t.head()

,Estimate!!EMPLOYMENT STATUS!!Population 16 years and over,Estimate!!EMPLOYMENT STATUS!!Population 16 years and over!!In labor force,Estimate!!EMPLOYMENT STATUS!!Population 16 years and over!!In labor force!!Civilian labor force!!Unemployed,Estimate!!EMPLOYMENT STATUS!!Population 16 years and over!!In labor force!!Armed Forces,Estimate!!EMPLOYMENT STATUS!!Population 16 years and over!!Not in labor force,Estimate!!EMPLOYMENT STATUS!!Civilian labor force,Estimate!!EMPLOYMENT STATUS!!Females 16 years and over,Estimate!!EMPLOYMENT STATUS!!Females 16 years and over!!In labor force,Estimate!!EMPLOYMENT STATUS!!Females 16 years and over!!In labor force!!Civilian labor force,Estimate!!EMPLOYMENT STATUS!!Females 16 years and over!!In labor force!!Civilian labor force!!Employed,...,Estimate!!HEALTH INSURANCE COVERAGE!!Civilian noninstitutionalized population!!Civilian noninstitutionalized population 19 to 64 years!!In labor force!!Unemployed!!With health insurance coverage!!With private health insurance,Estimate!!HEALTH INSURANCE COVERAGE!!Civilian noninstitutionalized population!!Civilian noninstitutionalized population 19 to 64 years!!In labor force!!Unemployed!!With health insurance coverage!!With public coverage,Estimate!!HEALTH INSURANCE COVERAGE!!Civilian noninstitutionalized population!!Civilian noninstitutionalized population 19 to 64 years!!In labor force!!Unemployed!!No health insurance coverage,Estimate!!HEALTH INSURANCE COVERAGE!!Civilian noninstitutionalized population!!Civilian noninstitutionalized population 19 to 64 years!!Not in labor force,Estimate!!HEALTH INSURANCE COVERAGE!!Civilian noninstitutionalized population!!Civilian noninstitutionalized population 19 to 64 years!!Not in labor force!!With health insurance coverage,Estimate!!HEALTH INSURANCE COVERAGE!!Civilian noninstitutionalized population!!Civilian noninstitutionalized population 19 to 64 years!!Not in labor force!!With health insurance coverage!!With private health insurance,Estimate!!HEALTH INSURANCE COVERAGE!!Civilian noninstitutionalized population!!Civilian noninstitutionalized population 19 to 64 years!!Not in labor force!!With health insurance coverage!!With public coverage,Estimate!!HEALTH INSURANCE COVERAGE!!Civilian noninstitutionalized population!!Civilian noninstitutionalized population 19 to 64 years!!Not in labor force!!No health insurance coverage,Percent Estimate!!PERCENTAGE OF FAMILIES AND PEOPLE WHOSE INCOME IN THE PAST 12 MONTHS IS BELOW THE POVERTY LEVEL!!All families,Percent Estimate!!EMPLOYMENT STATUS!!Civilian labor force!!Unemployment Rate
id,,,,,,,,,,,,,,,,,,,,,
1400000US36001000100,1505.0,930.0,113.0,6.0,575.0,924.0,816.0,521.0,521.0,432.0,...,13.0,62.0,0.0,338.0,300.0,75.0,255.0,38.0,24.2,12.2
1400000US36001000200,3748.0,2519.0,242.0,0.0,1229.0,2519.0,2051.0,1549.0,1549.0,1421.0,...,104.0,81.0,54.0,900.0,658.0,88.0,587.0,242.0,34.3,9.6
1400000US36001000300,4816.0,2894.0,296.0,0.0,1922.0,2894.0,2536.0,1405.0,1405.0,1361.0,...,32.0,156.0,46.0,998.0,803.0,333.0,526.0,195.0,21.7,10.2
1400000US36001000401,2305.0,1000.0,50.0,0.0,1305.0,1000.0,1434.0,574.0,574.0,546.0,...,28.0,22.0,22.0,172.0,146.0,91.0,73.0,26.0,2.0,5.0
1400000US36001000403,3756.0,2747.0,78.0,0.0,1009.0,2747.0,1875.0,1268.0,1268.0,1202.0,...,43.0,21.0,0.0,483.0,483.0,287.0,262.0,0.0,2.4,2.8

In [23]:
df_t.shape

(4851, 115)

In [24]:
df_t.columns

Index(['Estimate!!EMPLOYMENT STATUS!!Population 16 years and over',
       'Estimate!!EMPLOYMENT STATUS!!Population 16 years and over!!In labor force',
       'Estimate!!EMPLOYMENT STATUS!!Population 16 years and over!!In labor force!!Civilian labor force!!Unemployed',
       'Estimate!!EMPLOYMENT STATUS!!Population 16 years and over!!In labor force!!Armed Forces',
       'Estimate!!EMPLOYMENT STATUS!!Population 16 years and over!!Not in labor force',
       'Estimate!!EMPLOYMENT STATUS!!Civilian labor force',
       'Estimate!!EMPLOYMENT STATUS!!Females 16 years and over',
       'Estimate!!EMPLOYMENT STATUS!!Females 16 years and over!!In labor force',
       'Estimate!!EMPLOYMENT STATUS!!Females 16 years and over!!In labor force!!Civilian labor force',
       'Estimate!!EMPLOYMENT STATUS!!Females 16 years and over!!In labor force!!Civilian labor force!!Employed',
       ...
       'Estimate!!HEALTH INSURANCE COVERAGE!!Civilian noninstitutionalized population!!Civilian noninstitutionalized population 19 to 64 years!!In labor force!!Unemployed!!With health insurance coverage!!With private health insurance',
       'Estimate!!HEALTH INSURANCE COVERAGE!!Civilian noninstitutionalized population!!Civilian noninstitutionalized population 19 to 64 years!!In labor force!!Unemployed!!With health insurance coverage!!With public coverage',
       'Estimate!!HEALTH INSURANCE COVERAGE!!Civilian noninstitutionalized population!!Civilian noninstitutionalized population 19 to 64 years!!In labor force!!Unemployed!!No health insurance coverage',
       'Estimate!!HEALTH INSURANCE COVERAGE!!Civilian noninstitutionalized population!!Civilian noninstitutionalized population 19 to 64 years!!Not in labor force',
       'Estimate!!HEALTH INSURANCE COVERAGE!!Civilian noninstitutionalized population!!Civilian noninstitutionalized population 19 to 64 years!!Not in labor force!!With health insurance coverage',
       'Estimate!!HEALTH INSURANCE COVERAGE!!Civilian noninstitutionalized population!!Civilian noninstitutionalized population 19 to 64 years!!Not in labor force!!With health insurance coverage!!With private health insurance',
       'Estimate!!HEALTH INSURANCE COVERAGE!!Civilian noninstitutionalized population!!Civilian noninstitutionalized population 19 to 64 years!!Not in labor force!!With health insurance coverage!!With public coverage',
       'Estimate!!HEALTH INSURANCE COVERAGE!!Civilian noninstitutionalized population!!Civilian noninstitutionalized population 19 to 64 years!!Not in labor force!!No health insurance coverage',
       'Percent Estimate!!PERCENTAGE OF FAMILIES AND PEOPLE WHOSE INCOME IN THE PAST 12 MONTHS IS BELOW THE POVERTY LEVEL!!All families',
       'Percent Estimate!!EMPLOYMENT STATUS!!Civilian labor force!!Unemployment Rate'],
      dtype='object', length=115)

In [34]:
mean=np.mean(df_t["Percent Estimate!!PERCENTAGE OF FAMILIES AND PEOPLE WHOSE INCOME IN THE PAST 12 MONTHS IS BELOW THE POVERTY LEVEL!!All families"])
l=list()
for i in df_t["Percent Estimate!!PERCENTAGE OF FAMILIES AND PEOPLE WHOSE INCOME IN THE PAST 12 MONTHS IS BELOW THE POVERTY LEVEL!!All families"]:
    if(i>=mean):
        l.append(0)
    else:
        l.append(1)

In [35]:
df_t["poverty"]=l

In [47]:
df_t["poverty"].value_counts()

1    3123
0    1728
Name: poverty, dtype: int64

In [52]:
X=df_t.drop(['Percent Estimate!!PERCENTAGE OF FAMILIES AND PEOPLE WHOSE INCOME IN THE PAST 12 MONTHS IS BELOW THE POVERTY LEVEL!!All families','poverty'],axis=1)
Y=df_t[['poverty']]
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.40, random_state=0)

In [53]:
scaler = StandardScaler()
# Fit on training set only.
scaler.fit(X_train)
# Apply transform to both the training set and the test set.
X_train = scaler.transform(X_train)
X_test = scaler.transform(X_test)

In [60]:
# Let's Try Logistic Regression
from sklearn.metrics import classification_report,confusion_matrix
from sklearn.linear_model import LogisticRegression
lgrm=LogisticRegression()
lgrm.fit(X_train,y_train)
preds=lgrm.predict(X_test)
print(classification_report(y_test,preds))

              precision    recall  f1-score   support

           0       0.91      0.84      0.88       727
           1       0.91      0.95      0.93      1214

    accuracy                           0.91      1941
   macro avg       0.91      0.90      0.90      1941
weighted avg       0.91      0.91      0.91      1941

/home/arpit/anaconda3/lib/python3.7/site-packages/sklearn/utils/validation.py:760: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [61]:
lgrm.score(X_test,y_test)

0.9113858835651726

In [58]:
pca = PCA(.95)

In [59]:
pca.fit(X_train)
X_train = pca.transform(X_train)
X_test = pca.transform(X_test)