In [1]:
import pandas as pd
import numpy as np

In [2]:
data=pd.read_csv("NYCdata.csv")
data.head()

,Unnamed: 0,CensusTract,County,Borough,TotalPop,Men,Women,Hispanic,White,Black,...,Walk,OtherTransp,WorkAtHome,Employed,PrivateWork,PublicWork,SelfEmployed,FamilyWork,Unemployment,NoIns18ab
0,0,36005000200,Bronx,Bronx,5403,2659,2744,75.8,2.3,16.0,...,2.9,0.0,0.0,2308,80.8,16.2,2.9,0.0,7.7,9.6
1,1,36005000400,Bronx,Bronx,5915,2896,3019,62.7,3.6,30.7,...,1.4,0.5,2.1,2675,71.7,25.3,2.5,0.6,9.5,7.5
2,2,36005001600,Bronx,Bronx,5879,2558,3321,65.1,1.6,32.4,...,8.6,1.6,1.7,2120,75.0,21.3,3.8,0.0,8.7,9.9
3,3,36005001900,Bronx,Bronx,2591,1206,1385,55.4,9.0,29.0,...,3.0,2.4,6.2,1083,76.8,15.5,7.7,0.0,19.2,20.8
4,4,36005002000,Bronx,Bronx,8516,3301,5215,61.1,1.6,31.1,...,4.3,1.0,0.0,2508,71.0,21.3,7.7,0.0,17.2,11.1

In [3]:
data.columns

Index(['Unnamed: 0', 'CensusTract', 'County', 'Borough', 'TotalPop', 'Men',
       'Women', 'Hispanic', 'White', 'Black', 'Native', 'Asian', 'Citizen',
       'Income', 'IncomePerCap', 'Poverty', 'ChildPoverty', 'Professional',
       'Service', 'Office', 'Construction', 'Production', 'Drive', 'Carpool',
       'Transit', 'Walk', 'OtherTransp', 'WorkAtHome', 'Employed',
       'PrivateWork', 'PublicWork', 'SelfEmployed', 'FamilyWork',
       'Unemployment', 'NoIns18ab'],
      dtype='object')

In [4]:
from sklearn.preprocessing import LabelEncoder
lb_make = LabelEncoder()
data["County_code"] = lb_make.fit_transform(data["County"])
data[["County", "County_code"]].head()

  County  County_code
0  Bronx            0
1  Bronx            0
2  Bronx            0
3  Bronx            0
4  Bronx            0

In [5]:
data["Borough_code"] = lb_make.fit_transform(data["Borough"])
data[["Borough", "Borough_code"]].head()

  Borough  Borough_code
0   Bronx             0
1   Bronx             0
2   Bronx             0
3   Bronx             0
4   Bronx             0

In [6]:
from sklearn.preprocessing import StandardScaler
std_scaler = StandardScaler()
x=data[['CensusTract', 'TotalPop', 'Men', 'Women',
       'Hispanic', 'White', 'Black', 'Native', 'Asian', 'Citizen', 'Income',
       'IncomePerCap', 'ChildPoverty', 'Professional', 'Service',
       'Office', 'Construction', 'Production', 'Drive', 'Carpool', 'Transit',
       'Walk', 'OtherTransp', 'WorkAtHome', 'Employed', 'PrivateWork',
       'PublicWork', 'SelfEmployed', 'FamilyWork', 'Unemployment',
       'NoIns18ab','Borough_code','County_code']]         
new_x=std_scaler.fit_transform(x)
trans_x=pd.DataFrame(new_x,columns=['CensusTract', 'TotalPop', 'Men', 'Women',
       'Hispanic', 'White', 'Black', 'Native', 'Asian', 'Citizen', 'Income',
       'IncomePerCap', 'ChildPoverty', 'Professional', 'Service',
       'Office', 'Construction', 'Production', 'Drive', 'Carpool', 'Transit',
       'Walk', 'OtherTransp', 'WorkAtHome', 'Employed', 'PrivateWork',
       'PublicWork', 'SelfEmployed', 'FamilyWork', 'Unemployment',
       'NoIns18ab','Borough_code','County_code'])
y=data['Poverty']

In [7]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(new_x,y, test_size=0.2, random_state=0)

In [8]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error,r2_score
mlr = LinearRegression()
mlr.fit(x_train,y_train)
print(mlr.intercept_)
print(mlr.coef_)

19.537099423557255
[-4.07885019e-01  9.23658158e+12 -4.36360128e+12 -5.00989227e+12
  1.61504211e+00  1.83220984e+00  1.64654321e+00 -4.39784579e-02
  9.12632361e-01 -8.39516941e-02 -2.50309634e+00  3.71270372e-01
  8.33823671e+00  2.04349266e+01  1.31988063e+01  7.37246356e+00
  4.64884737e+00  6.12400573e+00  4.84562116e+01  1.18733599e+01
  4.84316678e+01  2.90515738e+01  8.11501560e+00  1.36652243e+01
 -5.09695213e+00  9.52443543e-01  5.01601149e-01  4.43973920e-01
  7.38945723e-02  1.03007837e+00 -2.79894902e-01  2.17467128e+12
 -2.17467128e+12]

In [9]:
from math import sqrt
y_pred = mlr.predict(x_test)
print("RMSE: " + str(round(sqrt(mean_squared_error(y_test,y_pred)),2)))
print("R_squared: " + str(round(r2_score(y_test,y_pred),2)))

RMSE: 4.26
R_squared: 0.9

In [10]:
abs(data.corr()["Poverty"])

Unnamed: 0      0.392874
CensusTract     0.405941
TotalPop        0.152784
Men             0.143225
Women           0.156934
Hispanic        0.509650
White           0.423157
Black           0.137871
Native          0.034969
Asian           0.138565
Citizen         0.034379
Income          0.716129
IncomePerCap    0.493814
Poverty         1.000000
ChildPoverty    0.915204
Professional    0.515212
Service         0.578527
Office          0.083469
Construction    0.052283
Production      0.323692
Drive           0.403381
Carpool         0.154202
Transit         0.386721
Walk            0.156417
OtherTransp     0.081475
WorkAtHome      0.042033
Employed        0.095049
PrivateWork     0.215501
PublicWork      0.177619
SelfEmployed    0.056324
FamilyWork      0.020957
Unemployment    0.515636
NoIns18ab       0.296367
County_code     0.391437
Borough_code    0.391437
Name: Poverty, dtype: float64

In [11]:
vals = [0.1,0.2,0.3,0.4,0.5,0.6,0.7]
for val in vals:
    features = abs(data.corr()["Poverty"][abs(data.corr()["Poverty"])>val].drop('Poverty')).index.tolist()
    
    x = data.drop(columns='Poverty')
    x =x[features]
    y=data['Poverty']
    print(features)
   
    x=std_scaler.fit_transform(x)
    x_train, x_test, y_train, y_test = train_test_split(x,y, test_size=0.2, random_state=0)
    
    mlr.fit(x_test,y_test)
    y_pred = mlr.predict(x_test)
    print("RMSE: " + str(round(sqrt(mean_squared_error(y_test,y_pred)),2)))
    print("R_squared: " + str(round(r2_score(y_test,y_pred),2)))

['Unnamed: 0', 'CensusTract', 'TotalPop', 'Men', 'Women', 'Hispanic', 'White', 'Black', 'Asian', 'Income', 'IncomePerCap', 'ChildPoverty', 'Professional', 'Service', 'Production', 'Drive', 'Carpool', 'Transit', 'Walk', 'PrivateWork', 'PublicWork', 'Unemployment', 'NoIns18ab', 'County_code', 'Borough_code']
RMSE: 4.12
R_squared: 0.91
['Unnamed: 0', 'CensusTract', 'Hispanic', 'White', 'Income', 'IncomePerCap', 'ChildPoverty', 'Professional', 'Service', 'Production', 'Drive', 'Transit', 'PrivateWork', 'Unemployment', 'NoIns18ab', 'County_code', 'Borough_code']
RMSE: 4.21
R_squared: 0.91
['Unnamed: 0', 'CensusTract', 'Hispanic', 'White', 'Income', 'IncomePerCap', 'ChildPoverty', 'Professional', 'Service', 'Production', 'Drive', 'Transit', 'Unemployment', 'County_code', 'Borough_code']
RMSE: 4.27
R_squared: 0.9
['CensusTract', 'Hispanic', 'White', 'Income', 'IncomePerCap', 'ChildPoverty', 'Professional', 'Service', 'Drive', 'Unemployment']
RMSE: 4.48
R_squared: 0.89
['Hispanic', 'Income', 'ChildPoverty', 'Professional', 'Service', 'Unemployment']
RMSE: 4.87
R_squared: 0.87
['Income', 'ChildPoverty']
RMSE: 5.08
R_squared: 0.86
['Income', 'ChildPoverty']
RMSE: 5.08
R_squared: 0.86